<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.tinymid.phonegap.QuickLookPlugin.js"
    version="0">
	<author>zhaoqiang wang</author>
	<description>
	This plugin allows your application to open file using QuickLook Lib on iOS
        </description>

	<license>MIT</license>
	<name>QuickLookPlugin.js</name>
	<asset src="QuickLookPlugin.js" target="QuickLookPlugin.js" />

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>	
	
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="QuickLookPlugin">
				<param name="ios-package" value="CDVQuickLookPlugin"/>
			</feature>
		</config-file>
		<source-file src="CDVQuickLookPlugin.m" />
		<header-file src="CDVQuickLookPlugin.h" />
	</platform>
</plugin>
